extends ../layout

block content
  h1 Summoner Lookup
  form(method='get' action='/player')
    .col-md-6
      .form-group
        label(for='summoner') Summoner Name
        input.form-control#summoner(placeholder='Munsterberg', name='summoner')
      button.btn.btn-primary(type='Submit') Search
